body{
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-columns: 1fr 25%  ;
  grid-template-rows: 80px 40px 400px 1fr;
  grid-template-areas: "head head"
                        "nav nav"
                        "section aside "
                        "footer footer"
}

header{
        grid-area: head;
}

nav{
        grid-area: nav;
}

section{
        grid-area: section;
        display: inline;
}

aside{
        grid-area: aside;
}

footer{
        grid-area: footer;
}

@media (max-width: 800px)  {
body{  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px auto 400px  1fr;
  grid-template-areas: "head "
                        "nav "
                        "section "
                        "footer "
    }

    aside, nav{
      display: none;
    }
 .menu{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  background-color: white;
}
.lemenu{
 float: left;
 padding-left: 10px;
}
}
